/* Mikkel Klitgaard */

.cdc-card {
    padding: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #f7f2fb, #f8efff);
    border-style: solid;
    border-width: 1px;
    border-color: #e4bdff;
    border-radius: 8px;
    position: relative;
}
.btn-offer {
    padding: 6px 14px;
    background-color: #ffffff;
    color: #555;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid #e4bdff;
    margin-top: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}

    .btn-offer:hover{
        cursor: default;
    }

    .discount-duration{
        margin: 0px;
        font-size: 12px;
        color: grey;

    }

    .p-header{
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 2px;
    }

    .p-txt{
     margin: 12px 0px 8px 2px;
     font-style:italic;
    }

    .t-wrapper{
        margin: 6px;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    hr{
        margin-top: 6px;
        margin-bottom: 4px;
    }

    .header-wrapper{
        display: flex;
        gap: 10px;
        vertical-align: middle;
        
    }

.percent-wrapper {
    vertical-align: middle;
    background-color: #920dfc;
    color: white;
    padding: 2px 8px 3px 8px;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    font-weight: bold;
    margin-bottom: 6px;
}

.icon-wrap{
    margin-right:6px;
    font-weight:normal;
}

.btn-remove{
    padding-left: 25px;
    padding-right: 25px;
}

.btn-wrapper{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.active-wrapper{
    display: flex;
    margin-left: auto;
    margin-top: auto;

}


.btn-active, .btn-inactive, .btn-expired {
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 14px;
    font-size: 10px;
    cursor: default;
    height: 20px;
    width: 70px;
}

.btn-active {
    background-color: #35cf2b;
}

.btn-inactive {
    background-color: #f89903
}

.btn-expired {
    background-color: #fa4444;
}

::deep .bin-delete-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.duration-date{
    color: #7c42ab;
    font-weight:500;
    margin-left:2px;
    margin-right:2px;
}