.cdc-card {
    padding: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #fbf5ff, #fdf2f8);
    border-style: solid;
    border-width: 1px;
    border-color: oklch(.882 .059 254.128); /* blue-200 */
    border-radius: 8px;
    position: relative;
}
.btn-offer {
    padding: 8px;
    background-color: #e9ecf1;
    color: #1d294f;
    font-weight:bold;
    border-radius:10px;
}

    .btn-offer:hover{
        cursor: default;
    }

    .discount-duration{
        margin:0px;
        font-size:12px;
        color:grey;

    }

    .p-header{
        font-weight:bold;
        font-size:16px;
        margin-bottom:2px;
    }

    .p-txt{
     margin:8px;
    }

    .t-wrapper{
        margin:6px;
        display:flex;
        gap:10px;
        margin-bottom:10px;
    }

    hr{
        margin-top:6px;
        margin-bottom:4px;
    }

    .header-wrapper{
        display: flex;
        gap:10px;
        vertical-align:middle;
        
    }

.percent-wrapper {
    vertical-align:middle;
    background-color: #920dfc;
    color: white;
    padding: 2px 8px 3px 8px;
    border-radius: 8px;
    font-size:12px;
    display:flex;
    font-weight: bold;
    margin-bottom:6px;
}

.icon-wrap{
    margin-right:6px;
    font-weight:normal;
}

.btn-remove{
    padding-left: 25px;
    padding-right: 25px;
}

.btn-wrapper{
    display:flex;
    gap:10px;
    margin-top:20px;
    justify-content:center;
}

