.header, .header-description{
    text-align:center;
}

.treatment-selected {
    border: 2px solid #990dff;
    background-color: #f6e6fc;
    color: black;
    position: relative;
    cursor: pointer;
}

.treatment-unselected {
    border: 2px solid lightgrey;
    background-color: white;
    color: black;
    position: relative;
    cursor: pointer;
}

.treatment-item {
    display: flex;
    flex: 0 0 calc(50% - 0.5rem);
    flex-direction: row;
    border-radius: 0.5rem;
    padding: 10px 10px 10px 10px;
}

.treatments-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 600px;
    border: 5px;
    gap: 0.5rem;
}

.t-name {
    margin-right: 20px;
    user-select:none;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 8px;
    gap:10px;
}

.btn-add{
    padding-left:20px;
    padding-right:20px;
}

.subheader{
    margin-bottom:20px;
}

.campaign-input{
    display:block;
}


.campaign-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    .campaign-input label {
        width: 100px;
        text-align: left;
        margin-right: 15px;
        margin-bottom: 4px;
    }

    .campaign-input input {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px;
        margin-right: 15px;
    }

        .campaign-input input:focus {
            outline: 1px solid #a91ce4;
        }

.page-setup{
    display:flex;
    gap:30px;
}

.kk-container{
    position:relative;
}

.count-div{
    margin-top:40px;
    position:absolute;
    bottom: 0;
    margin-bottom:20px;
}