@using BellaHair.Domain.Treatments
@using BellaHair.Ports.Treatments
@using BellaHair.Presentation.WebUI.Components.Shared
@using System.Threading.Tasks

@inject ITreatmentCommand _treatmentCommand
@inject ISnackbar Snackbar
<!-- Mikkel Klitgaard -->


			<div class="treatment-card">

					<BinDeleteButton OnClick="HandleOnDeleteClick" />

				<div class="treatment-avatar">
						<TreatmentIcon Class="treatment-icon"/>
					</div>

					<div class="treatment-details">

						<h6>@Treatment.Name</h6>

						<div class="offered-by-wrapper">

							<button class="btn-offer" @onclick="@HandleOfferedByClick">
								Udbydes af
								</button>
						
						</div>

						<hr class="treatment-line"/>

						<div class="price-duration-wrapper">

						<div class="treatment-pd-details">

								<PriceIcon Class="treatment-price-icon"/>
								@Treatment.Price.ToString("C")

							</div>

						<div class="treatment-pd-details">

								<DurationIcon Class="treatment-duration-icon"/>
								@Treatment.DurationMinutes min

							</div>
						</div>
					</div>
				</div>


@code {
	[Parameter, EditorRequired]
	public required TreatmentViewModel Treatment { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnDelete { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback<Guid> OnShowOfferedBy { get; set; }


	private async Task HandleOnDeleteClick()
	{
		try
		{
			var command = new DeleteTreatmentCommand(Treatment.Id);
			await _treatmentCommand.DeleteTreatmentAsync(command);

			await OnDelete.InvokeAsync();
			Snackbar.Add("Behandlingen blev slettet med succes", Severity.Success);
		}
		catch (TreatmentInUseException)
		{
			Snackbar.Add("Behandlingen kunne ikke slettes:\n Der findes en aktiv booking med denne behandling.", Severity.Error);
		}
	}

	private async Task HandleOfferedByClick()
	{
		await OnShowOfferedBy.InvokeAsync(Treatment.Id);
	}

}
