@using BellaHair.Ports.Treatments
@using BellaHair.Presentation.WebUI.Components.Shared
@inject ITreatmentCommand _treatmentCommand

<!-- Mikkel Klitgaard -->


			<div class="treatment-card">

					<BinDeleteButton OnClick="HandleOnDeleteClick" />

				<div class="treatment-avatar">
						<TreatmentIcon Class="treatment-icon"/>
					</div>

					<div class="treatment-details">

						<h6>@Treatment.Name</h6>

						<hr class="treatment-line"/>

						<div class="price-duration-wrapper">

						<div class="treatment-pd-details">

								<PriceIcon Class="treatment-price-icon"/>
								@Treatment.Price.ToString("C")

							</div>

						<div class="treatment-pd-details">

								<DurationIcon Class="treatment-duration-icon"/>
								@Treatment.DurationMinutes min

							</div>
						</div>
					</div>
				</div>


@code {
	[Parameter, EditorRequired]
	public required TreatmentViewModel Treatment { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnDelete { get; set; }


	private void HandleOnDeleteClick()
	{
		Console.WriteLine("Jalapeños");
		// TODO: Implementer logik
		OnDelete.InvokeAsync();
	}
}
