.offered-by-desc{
    color: grey;
    font-size: 14px;
    margin:0px;
}

.h3{
}

.btn-remove{
    padding-left:2rem;
    padding-right:2rem;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top:30px;
}

.kk-emp-container {
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-left:20px;
    padding-bottom: 14px;
    margin: 20px;
    background-color: #f4fcfd;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    display:flex;
    align-items:center;
    gap: 8px;
}

p{
    font-family:system-ui;
    margin:0;

}


.emp-icon {
    width: 16px;
    height: 16px;
    flex 0 0 16px;
    display:inline-block;
    vertical-align:middle;
}