/* SIDEN SKAL REFAKTORERES */
/* SIDEN SKAL REFAKTORERES */
/* SIDEN SKAL REFAKTORERES */


::deep .treatment-icon {
    width: 16px;
    height: 16px;
    display: inline-block;

}

::deep .test-icon {
    width: 36px;
    height: 36px;
    display: inline-block;
}



.employees-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
    max-width: stretch;
}

.employee-card {
    font-family: system-ui;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #f9fafc;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.50);
    padding: 15px;
    flex: 0 0 calc(50% - 0.5rem); /*  '0' (flex-grow): Må IKKE vokse. Forhindrer det sidste i
                                   at strække sig og fylde hele rækken, hvis antallet er ulige.
                                   '0' (flex-shrink): Må IKKE krympe. Beholder sin bredde.
                                    'calc(50% - 0.5rem)': Sætter bredden til PRÆCIS 50% af 
                                    containeren, minus halvdelen af gap.*/
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

    .employee-card:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        cursor: pointer;
    }

.employee-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    background: linear-gradient(to bottom right, #a91ce4, #c9abe7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.employee-contact-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5px;
    color: dimgrey;
}