/* SIDEN SKAL REFAKTORERES */
/* SIDEN SKAL REFAKTORERES */
/* SIDEN SKAL REFAKTORERES */

/* Mikkel Klitgaard */


::deep .treatment-price-icon, 
::deep .treatment-duration-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    justify-content:center;
}

::deep .treatment-duration-icon {
    fill: #a91ce4;
}

::deep .treatment-price-icon {
    fill: #707070;
}

::deep .treatment-icon {
    width: 36px;
    height: 36px;
    display: inline-block;
}


.treatment-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
    max-width: stretch;
}

.treatment-card {
    font-family: system-ui;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #f9fafc;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.50);
    padding: 15px;
    flex: 0 0 calc((100% - 2rem) / 3);      /* Her benyttes calc((100% - 2rem) / 3) for at få 3 behandlinger på række */
    display: flex;
    gap: 1rem;
    position:relative;
    min-width:300px;
}

    .treatment-card:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        cursor: pointer;
    }

.treatment-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    background: linear-gradient(to bottom right, #a91ce4, #c9abe7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9fafc;
}

.treatment-pd-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5px;
    color: dimgrey;
}


.price-duration-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.treatment-details{
    flex-grow: 1;
}

.treatment-line{
    color: grey;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

h6{
    margin-top: 10px;
}

.treatment-modal-text{
    padding: 20px;

}

.treatment-input{
    display: flex;
flex-direction:column;
    margin-bottom: 20px;
}

.treatment-input label {
    width: 100px;
    text-align: left;
    margin-right: 15px;
}

.treatment-input input{
    border: 1px solid #ccc;
    border-radius:4px;
    padding:4px;
    margin-right:15px;
}

    .treatment-input input:focus {
        outline: 1px solid #a91ce4;
    }


.btn-wrapper{
    display: flex;
    justify-content:flex-end;
    margin-top:20px;
    margin-bottom:8px;
}


.validation-div{
    
}