@using BellaHair.Presentation.WebUI.Components.Pages.Treatments
@using BellaHair.Presentation.WebUI.Components.Shared
@using System.Collections.Generic;
@using BellaHair.Ports.Employees
@using BellaHair.Ports.Treatments
@using MudBlazor
@inject IEmployeeCommand _employeeCommand
@inject ITreatmentQuery _treatmentQuery

@* <h3 style="align-content: center">Opret ny medarbejder</h3>
<br />
 *@

	<EditForm Model="@_newEmployeeModel" OnValidSubmit="(() => HandleCreateEmployee())">

    <DataAnnotationsValidator />
    
@* 	<MudTextField @bind-Value="_newEmployeeModel.FirstName" Label="First Name" Required="true" />
 *@
		<MudSelect T="Guid"
		Label="Vælg behandlinger."
		MultiSelection="true"
		@bind-SelectedValues="SelectedTreatmentIds"
		Clearable="true">

		@foreach (var treatment in collection)
		{
			
		}
	</MudSelect>

	</EditForm>

	@code {

	private string? _errorMessage = null;
	private HashSet<Guid> SelectedTreatmentIds { get; set; } = new HashSet<Guid>();
	[Parameter]
	public NewEmployeeModel? _newEmployeeModel { get; set; }
	private List<TreatmentViewModel>? _treatments { get; set; } 

	private async Task HandleCreateEmployee()
	{
		try
		{
			var command = new CreateEmployeeCommand(
				_newEmployeeModel.FirstName,
				_newEmployeeModel.MiddleName,
				_newEmployeeModel.LastName,
				_newEmployeeModel.Email,
				_newEmployeeModel.PhoneNumber,
				_newEmployeeModel.StreetName,
				_newEmployeeModel.CityName,
				_newEmployeeModel.StreetNumber,
				_newEmployeeModel.ZipCode,
				_newEmployeeModel.TreatmentIds
			);
		}
		catch (Exception e)
		{

		}
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadTreatments();
	}

	private async Task LoadTreatments()
	{
		try
		{
			var treatments = await _treatmentQuery.GetAllAsync();
			_treatments = treatments
				.OrderBy(t => t.Name)
				.Select(t => new TreatmentViewModel(t.Id, t.Name, t.Price, t.Duration))
				.ToList();
		}
		catch (Exception ex)
		{
			_errorMessage = $"Der skete en fejl under indlæsning af behandlinger: {ex.Message}";
		}
	}

}

<style>


.modal-container.employees
{
	max-width: 100rem;
}
</style>