@using BellaHair.Presentation.WebUI.Components.Shared
@using System.Collections.Generic;
@using BellaHair.Ports.Employees
@using MudBlazor
@inject IEmployeeCommand _employeeCommand

<h3 style="align-content: center">Opret ny medarbejder</h3>
<br />

<div style="display: flex; gap: 10px">

	<EditForm Model="@_newEmployeeModel"
		OnValidSubmit="@HandleCreateEmployee()">

    <DataAnnotationsValidator />
    
    <h3>Vælg behandlinger</h3>
    
@* Example of a simple text field *@
	<MudTextField @bind-Value="NewEmployee.FirstName" Label="First Name" Required="true" />

	<div class="mt-4 mb-4">
		<h4>Treatments</h4>

		<MudSelect T="Guid"
				   Label="Select Treatments"
				   MultiSelection="true"
				   @bind-SelectedValues="SelectedTreatmentIds"
				   Clearable="true"
				   Required="true"
				   RequiredError="Please select at least one treatment.">

			@* Loop through the list loaded from the database *@
			@foreach (var treatment in AvailableTreatments)
			{
				<MudSelectItem T="Guid" Value="@treatment.Id">
					@treatment.Name
				</MudSelectItem>
			}
		</MudSelect>
	</div>

	<MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled" Class="mt-3">
		Save Employee
	</MudButton>

	</EditForm>

@code {

	private HashSet<Guid> SelectedTreatmentIds { get; set; } = new HashSet<Guid>();
	[Parameter]
	public NewEmployeeModel _newEmployeeModel { get; set; }

	private async Task HandleCreateEmployee()
	{
		try
		{
			var command = new CreateEmployeeCommand(
				_newEmployeeModel.FirstName,
				_newEmployeeModel.MiddleName,
				_newEmployeeModel.LastName,
				_newEmployeeModel.Email,
				_newEmployeeModel.PhoneNumber,
				_newEmployeeModel.StreetName,
				_newEmployeeModel.CityName,
				_newEmployeeModel.StreetNumber,
				_newEmployeeModel.ZipCode
				_newEmployeeModel.TreatmentIds
			);
		}
	}
}

<style>


.modal-container.employees
{
	max-width: 100rem;
}
</style>