@using BellaHair.Presentation.WebUI.Components.Shared

<h3 style="align-content: center">Opret ny medarbejder</h3>
<br />

<div style="display: flex; gap: 10px">
<p style="margin-bottom: 2px">Fornavn</p>
<input @bind-value="FirstName" placeholder="Indtast medarbejderens fornavn..." style="height: 25px; width: 250px"/>
<p style="margin-bottom: 2px">Mellemnavn</p>
</div>



@code {

	[Parameter]
	public string? FirstName { get; set; }
	[Parameter]
	public string? MiddleName { get; set; }
	[Parameter]
	public string? LastName { get; set; }
	[Parameter]
	public string? Email { get; set; }
	[Parameter]
	public string? PhoneNumber { get; set; }
	[Parameter]
	public string? StreetName { get; set; }
	[Parameter]
	public string? City { get; set; }
	[Parameter]
	public string? StreetNumber { get; set; }
	[Parameter]
	public int? Floor { get; set; }
	[Parameter]
	public int? ZipCode { get; set; }

}

<style>


.modal-container.employees
{
	max-width: 100rem;
}
</style>