@attribute [StreamRendering]
@using BellaHair.Domain
@using BellaHair.Presentation.WebUI.Components.Shared
@using BellaHair.Presentation.WebUI.Components.Pages.Employees.CreateEmployeeComponents
@using BellaHair.Ports.Employees

@page "/medarbejdere"

@rendermode InteractiveServer
@inject IEmployeeQuery _employeeQuery

<PageHeader HeaderText="Medarbejdere" HeaderSubText="Administrer og tilføj medarbejdere" NewButtonText="Opret ny medarbejder" OnNewButtonClicked="@(() => { _showNewModal = true; })" />

<Modal @bind-IsVisible="@_showNewModal"> 
	<CreateEmployeeForm OnCreate="@HandleCreate" />
</Modal>

<div class="kk-container employees-container">
		@if (_errorMessage != null) { <p>@_errorMessage</p>}
		@if (_employees == null) {<p>Loading...</p>}
		else
		{
			@foreach (var employee in _employees)
			{
				<EmployeeCard employeeSimpleViewModel="employee"/>
			}
		}
</div>

@code {
	private bool _showNewModal = false;
	private string? _errorMessage;

	/// <summary>
	/// List of viewmodels used to store employee view model data
	/// </summary>
	private List<EmployeeSimpleViewModel>? _employees = null;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await LoadEmployees();
	}

	private async Task LoadEmployees()
	{
		try
		{
			var employees = await _employeeQuery.GetAllEmployeesSimpleAsync();
			_employees = employees.Select(e => new EmployeeSimpleViewModel(e.Id, e.Name, e.Email, e.PhoneNumber, e.TreatmentNames)).ToList();
		}
		catch (DomainException ex)
		{

			_errorMessage = ex.Message;
		}
		catch (Exception ex)
		{
			_errorMessage = ex.Message; // TODO: "Noget gik galt"
		}
	}

	private async Task HandleCreate()
	{
        _showNewModal = false;
        await LoadEmployees();
	}
}