.treatment-employee-card {
    border: none;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 10px;
    background-color: #f4fcfd;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 20px;
}

.treatments-employees-container
{
    align-items: center;
    max-height: 30rem;
    overflow-y: scroll;
}

.emp-treatments-header {
    
}

.treatments-on-emp-descript {
    color: grey;
    font-size: 14px;
    margin: 0px;
    text-align: center;
    padding-bottom: 1rem;
}