
/* Card used to display singular employee */
.employee-card {
    font-family: system-ui;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #f9fafc;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.50);
    padding: 15px;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    flex: 0 0 calc(50% - 0.5rem); /*  '0' (flex-grow): Må IKKE vokse. Forhindrer det sidste i
                                       at strække sig og fylde hele rækken, hvis antallet er ulige.
                                       '0' (flex-shrink): Må IKKE krympe. Beholder sin bredde.
                                        'calc(50% - 0.5rem)': Sætter bredden til PRÆCIS 50% af
                                        containeren, minus halvdelen af gap.*/
    position: relative;
}


/* Used to generate the round employee-avatar with purple gradient */
.employee-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    background: linear-gradient(to bottom right, #c084fc, #ec4899);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Used to contain all contact-details - not yet finished */
.employee-contact-details {
    padding-bottom: 0.5rem;
}

/* Contains singular contact-detail formatting like email or phonenumber */
.employee-single-contact-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5px;
    color: dimgrey;
}

/* Ensures employee-icons are formatted corectly - ::deep is needed for formatting to apply */
::deep .employee-icons {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: dimgrey !important;
}

/* Contains all treatments to apply correct formatting */
::deep .treatments-employees-container {
    display: flex;
    gap: 0.3rem;
    padding-bottom: 10px;
    padding-top: 5px;
    max-width: 95%;
    flex-wrap: wrap;
}

/* Contains singular treatment and its formatting */
.treatment-employee-card {
    font-size: 8px;
    font-weight: 500;
    padding-inline: 5px;
    background-color: lightgrey;
    border-radius: 5px;
    max-width: 5rem;

}


::deep .remove-confirmation-buttons {
    display: flex; 
    gap: 1rem; 
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 200px;   
}


.modal-centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

::deep .remove-confirmation-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center; 
    align-items: center;
    padding-top: 15px;
}

::deep .delete-confirmation-icon {
    width: 5rem;
    height: 5rem;
    color: firebrick;
    margin-bottom: 1rem;

}

.delete-edit-buttons {
    position: absolute;
    top: 1rem;
    right: 5rem;
}

.calender {
    height: 1rem;
    width: 6rem;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    margin-top: 4px;
    vertical-align: top;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    color: #8200db;
    background-color: #c084fc26;
    border: 2px, solid;
    border-color: mediumpurple;
    font-weight: 500;
}

.calender:hover {
    color: white;
    fill: white;
}

.treatment-calendar-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-button {
    align-self: end

}

.employee-content {
    flex-grow: 1;
}