
.privatecustomer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
    max-width: stretch;
}

.privatecustomer-card {
    font-family: system-ui;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #f9fafc;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.50);
    padding: 15px;
    flex: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

    .privatecustomer-card:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        cursor: pointer;
    }

.privatecustomer-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    background: linear-gradient(to bottom right, #c084fc, #ec4899);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.privatecustomer-contact-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5px;
    color: dimgrey;
}

::deep .privatecustomer-icons {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: dimgrey !important;
}

::deep .privatecustomer-icons-birthday {
    width: 16px;
    height: 16px;
    display: inline-block;
}