/*Mikkel Dahlmann*/
.privatecustomer-card {
    font-family: system-ui;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #f9fafc;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.50);
    padding: 15px;
    flex: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    position: relative;
}

    .privatecustomer-card:hover {
        background-color: #d6e3fe3d;
        cursor: pointer;
    }

.privatecustomer-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    background: linear-gradient(to bottom right, #c084fc, #ec4899);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.privatecustomer-contact-body {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5px;
    color: dimgrey;
}

.privatecustomer-details {
    flex: 1;
}

.privatecustomer-contact-details {
    display: flex;
    flex: 0 0 33%;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5px;
    color: dimgrey;
}

::deep .privatecustomer-icons {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: dimgrey !important;
}

::deep .privatecustomer-icons-birthday {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.action-button-group {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
}

.action-button-group ::deep .bin-delete-button {
    position: static !important;
    top: unset !important;
    right: unset !important;
}

.modal-centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

::deep .delete-confirmation-icon {
    width: 5rem;
    height: 5rem;
    color: firebrick;
    margin-bottom: 1rem;
}

.loyalty-customer {
    vertical-align: top;
    background-color: #c084fc26;
    padding: 1px 6px 2px 6px;
    border-radius: 8px;
    font-size: 11px;
    display: flex;
    font-weight: 500;
    color: #8200db;
}

.regular-customer {
    vertical-align: top;
    background-color: #36415327;
    padding: 1px 6px 2px 6px;
    border-radius: 8px;
    font-size: 11px;
    display: flex;
    font-weight: 500;
    color: #364153;
}

.new-customer {
    vertical-align: top;
    background-color: #0082361d;
    padding: 1px 6px 2px 6px;
    border-radius: 8px;
    font-size: 11px;
    display: flex;
    font-weight: 500;
    color: #008236;
}