 
<div class="bdc-card">
	<div class="bdc-content">
		<p class="bdc-title">@BirthdayDiscount.Name</p>
		<p class="bdc-text">Gælder kun i kundens fødselsdagsmåned</p>
		<hr class="line"/>
		<p class="bdc-discount">Rabat: @((BirthdayDiscount.DiscountPercent * 100).ToString("0"))%</p>
	</div>
</div>

@code {
	[Parameter, EditorRequired]
	public required BirthdayDiscountViewModel BirthdayDiscount { get; set; }
}
