<!-- Mikkel Klitgaard-->

@using BellaHair.Presentation.WebUI.Components.Shared
 
<div class="bdc-card">
	<div class="header-wrapper">
		<p class="p-header">@BirthdayDiscount.Name</p>
		<div class="percent-wrapper">
			<div class="icon-wrap">
				<PercentIcon/> |
			</div>
			@((BirthdayDiscount.DiscountPercent * 100).ToString("0"))%
		</div>
	</div>
	<hr />
	<p class="bday-txt">Gælder på én behandling i hele måneden kunden har fødselsdag</p>
</div>

@code {
	[Parameter, EditorRequired]
	public required BirthdayDiscountViewModel BirthdayDiscount { get; set; }
}
