.ldc-card {
    padding: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(to right, oklch(.97 .014 254.604), oklch(.977 .014 308.299)); /* blue-50, purple-50 */
    border-style: solid;
    border-width: 1px;
    border-color: oklch(.882 .059 254.128); /* blue-200 */
    border-radius: 8px;
    position: relative;


    .btn-offer {
        padding: 8px;

    }

    .btn-offer:hover{
        cursor: default;
    }

    .discount-duration{
        margin:0px;
        font-size:12px;
        color:grey;

    }

    .p-header{
        font-weight:bold;
        font-size:16px;
        margin-bottom:2px;
    }


    .p-txt{
     margin:6px;
    }

    .t-wrapper{
        margin:6px;
        display:flex;
        gap:10px;
        margin-bottom:10px;
    }

    hr{
        margin-top:6px;
        margin-bottom:4px;
    }
}
