<div>
	<p>@LoyaltyDiscount.Name</p>
	<p>Minimum besøg: @LoyaltyDiscount.MinimumVisits</p>
	<p>@((LoyaltyDiscount.DiscountPercent * 100).ToString("0"))%</p>
	<button @onclick="() => { }">Delete</button>
</div>

@code {
	[Parameter, EditorRequired]
	public required LoyaltyDiscountViewModel LoyaltyDiscount { get; set; }
}
