<!-- Dennis -->

@using BellaHair.Domain
@using BellaHair.Ports.Discounts
@using BellaHair.Presentation.WebUI.Components.Shared;


<div class="ldc-card @CalculateLoyaltyClass()">
	<div class="header-wrapper">
		<p class="p-header">@LoyaltyDiscount.Name</p>
	</div>
	<p class="ldc-visits">Minimum besøg: @LoyaltyDiscount.MinimumVisits</p>
	<hr>
	<p class="ldc-perks">Fordele:</p>

	@if (LoyaltyDiscount.MinimumVisits >= 20)
	{
		<div class="ldc-text-perk">
			<span class="ldc-highlight">15% rabat</span> på alle behandlinger
		</div>
		<div class="ldc-text-perk">
			<span class="ldc-highlight">10% rabat</span> på alle produkter
		</div>
	}
	else if (LoyaltyDiscount.MinimumVisits >= 10)
	{
		<div class="ldc-text-perk">
			<span class="ldc-highlight">10% rabat</span> på alle behandlinger
		</div>
		<div class="ldc-text-perk">
			<span class="ldc-highlight">5% rabat</span> på alle produkter
		</div>
	}
	else
	{
		<div class="ldc-text-perk">
			<span class="ldc-highlight">5% rabat</span> på alle behandlinger
		</div>
	}


</div>

@code {
		[Parameter, EditorRequired]
		public required LoyaltyDiscountViewModel LoyaltyDiscount { get; set; }

		private string CalculateLoyaltyClass()
		{
			if (LoyaltyDiscount.MinimumVisits >= 20)
			{
				return "gold";
			} 
			if (LoyaltyDiscount.MinimumVisits >= 10)
			{
				return "silver";
			}

				return "bronze";
		}
}

