<!-- Dennis -->

@using BellaHair.Domain
@using BellaHair.Ports.Discounts
@using BellaHair.Presentation.WebUI.Components.Shared;

@inject ILoyaltyDiscountCommand LoyaltyDiscountCommand
@inject ISnackbar Snackbar;

<div class="ldc-card">
	<div class="header-wrapper">
		<p class="p-header">@LoyaltyDiscount.Name</p>
	</div>
	<p class="ldc-visits">Minimum besøg: @LoyaltyDiscount.MinimumVisits</p>
	<hr>
	Fordele:
	<BinDeleteButton Class="delete-btn" OnClick="@HandleOnDeleteClick"/>
</div>

@code {
	[Parameter, EditorRequired]
	public required LoyaltyDiscountViewModel LoyaltyDiscount { get; set; }

	// Guid type så ID'et af den slettede rabat kan sendes tilbage til Discounts siden, så denne automatisk kan opdatere.
	[Parameter, EditorRequired]
	public required EventCallback<Guid> OnDelete { get; set; }

	private async Task HandleOnDeleteClick()
	{
		try
		{
			var command = new DeleteLoyaltyDiscountCommand(LoyaltyDiscount.Id);
			await LoyaltyDiscountCommand.DeleteLoyaltyDiscountAsync(command);
			await OnDelete.InvokeAsync(LoyaltyDiscount.Id);
			Snackbar.Add("Stamkunderabat slettet.", Severity.Success);
		}
		catch (DomainException ex) { Snackbar.Add(ex.Message, Severity.Error); }
		catch (Exception) { Snackbar.Add("Noget gik galt.", Severity.Error); }
	}
}

