/* Mikkel Klitgaard */

:root {

}

/* Navigationsbar */
.navbar {
    background-color: white;
    font-family: system-ui;
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    overflow: hidden;
    border-bottom-width: 1px;
    border-bottom-color: oklch(0.9249 0 0);
    border-bottom-style: solid;
    z-index: 999;
}

/* Vi bruger ::deep til hvert element fordi vi bruger .css isolation (TopNavMenu.razor har sin egen .css klasse) 
    <NavLink> renderes som et a-tag
*/
    .navbar ::deep a {
        display:flex;
        color: #434141;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        gap: 8px;
    }
        .navbar ::deep a:hover {
            background: #fbf5ff;
            border-radius: 20px;
            transition: background-color 0.5s;
        }

        .navbar ::deep a.active {
            background: #fbf5ff;
            color: #c216c2;
            border-radius: 16px;
            transition: background-color 0.5s;
            font-weight: 600;
        }

/* Main content (padding-top for at kunne se indhold under navigationsbar) */
main {
    margin: 0;
    padding-top:50px;
}


::deep .nav-icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    flex-shrink: 0;
    fill:#343434ff;
}

::deep .nav-icon.active{
    fill: purple;
}