@using BellaHair.Presentation.WebUI.Components.Shared
@using CrossCut

@*Mikkel Klitgaard*@

@inject DataProvider DataProvider
@inject NavigationManager NavigationManager

@rendermode InteractiveServer


<nav class="navbar">

	<NavLink href="" class="nav-logo-link"><div class="nav-bellahair">
		<img src="images/BellaHairLogo.png" class="bella-logo"/>
	</div>
	</NavLink>
	
	<div class="nav-links">
		<NavLink href="" Match="NavLinkMatch.All"><HomeIcon Class="nav-icon"/> Hjem</NavLink>
		<NavLink href="kalender"><VisitsIcon Class="nav-icon"/> Kalender</NavLink>
		<NavLink href="bookings"><BookingsIcon Class="nav-icon"/> Bookings</NavLink>
		<NavLink href="kunder"><CustomerIcon Class="nav-icon"/> Kunder</NavLink>
		<NavLink href="medarbejdere"><PersonCheckmarkIcon Class="nav-icon"/> Medarbejdere</NavLink>
		<NavLink href="behandlinger"><TreatmentIcon Class="nav-icon"/> Behandlinger</NavLink>
		<NavLink href="produkter"><ProductIcon Class="nav-icon"/> Produkter</NavLink>
		<NavLink href="rabatter"><PercentIcon Class="nav-icon"/> Rabatter</NavLink>
	</div>

</nav>
