<!-- Dennis -->
@page "/bookings"

@using BellaHair.Domain
@using BellaHair.Ports.Bookings
@using BellaHair.Presentation.WebUI.Components.Shared

@rendermode InteractiveServer

@inject ICurrentDateTimeProvider CurrentDateTimeProvider
@inject IBookingQuery BookingQuery
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar;

<PageHeader HeaderText="Bookings" HeaderSubText="Administrer og opret nye rabatter" NewButtonText="Ny booking" OnNewButtonClicked="@(() => { NavigationManager.NavigateTo("/booking/ny"); })" />

<div>
	<button @onclick="HandleNewSelectorClick" class="@(_activeTab == BookingTab.New? "btn-select-active" : "btn-select")">Kommende bookinger</button>
	<button @onclick="HandleOldSelectorClick" class="@(_activeTab == BookingTab.Old ? "btn-select-active" : "btn-select")">Gamle bookinger</button>
</div>

<div class="kk-container">
	@if (_bookings == null) { <p>Loading</p>
	}
	else
	{
		@foreach (var booking in _bookings)
		{
			<BookingCard Booking="@booking" />
		}
	}
</div>

@code {
	private enum BookingTab { New, Old }
	private BookingTab _activeTab;

	private DateTime _now;
	private List<BookingSimpleViewModel> _bookings = [];

	protected async override Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		await HandleNewSelectorClick();
	}

	private async Task HandleNewSelectorClick()
	{
		_now = CurrentDateTimeProvider.GetCurrentDateTime();
		await LoadBookings(BookingTab.New);
		_activeTab = BookingTab.New;
	}

	private async Task HandleOldSelectorClick()
	{
		_now = CurrentDateTimeProvider.GetCurrentDateTime();
		await LoadBookings(BookingTab.Old);
		_activeTab = BookingTab.Old;
	}

	private async Task LoadBookings(BookingTab bookingTab)
	{
		try
		{
			var bookings = bookingTab == BookingTab.New ? await BookingQuery.GetAllNewAsync() : await BookingQuery.GetAllOldAsync();

			_bookings = bookings.Select(b => new BookingSimpleViewModel(
				b.StartDateTime,
				b.EndDateTime,
				DateOnly.FromDateTime(b.StartDateTime),
				TimeOnly.FromDateTime(b.StartDateTime),
				TimeOnly.FromDateTime(b.EndDateTime),
				b.Total,
				b.EmployeeFullName,
				b.CustomerFullName,
				b.TreatmentName,
				b.DurationMinutes,
				b.Discount?.Name,
				b.Discount?.Amount
			)).OrderBy(b => b.StartDateTime).ToList();
		}
		catch (DomainException ex) { Snackbar.Add(ex.Message, Severity.Error); }
		catch (Exception) { Snackbar.Add("Noget gik galt.", Severity.Error); }
	}
}
