/*Mikkel Dahlmann*/
.product-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
    max-width: stretch;
    max-height: 75vh;
    overflow-y: auto;
}

.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .search-bar-container input:focus {
        box-shadow: 0 0 0 0.15rem rgba(153, 0, 255, 0.65);
        border: #55088c
    }

.search-bar-container input::placeholder {
    color: #aaaaaa;
    opacity: 1;
    font-size: 14px;
}

.search-bar-container input {
    opacity: 1;
    font-size: 14px;
}

.product-search {
    width: 300px; 
    background-color: #f9fafc;
}