/* Mikkel Dahlmann */

.product-description {
    overflow: hidden;
    -webkit-line-clamp: 3; /* Maksimalt antal linjer der vises */
    -webkit-box-orient: vertical;
    overflow-wrap: anywhere;
    display: -webkit-box;
    max-width: 70%;
    line-height: 150%;
    min-height: 63px; /* Sørger for, at der altid vises 3 linjer, selvom de er tomme (udregnet ud fra fontsize * line-height * antal linjer) */
}

::deep .product-price-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    justify-content: center;
    margin-top: 1px;
}

::deep .product-price-icon {
    fill: #707070;
}

::deep .treatment-icon {
    width: 36px;
    height: 36px;
    display: inline-block;
}

.product-card {
    font-family: system-ui;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #f9fafc;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.50);
    padding: 15px;
    flex: 0 0 calc((100% - 2rem) / 3); /* Her benyttes calc((100% - 2rem) / 3) for at få 3 produkter på række */
    display: flex;
    gap: 1rem;
    position: relative;
    min-width: 300px;
}

    .product-card:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        background-color: #f7faff;
    }


.product-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    background: linear-gradient(to bottom right, #611ce4, #c9abe7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9fafc;
}

.product-pd-details {
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    gap: 0.5rem;
    padding-bottom: 5px;
    color: dimgrey;
}

.product-details {
    flex-grow: 1;
    max-width: 400px;
}

.product-line {
    color: grey;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.btn-remove {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-wrapper {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.action-button-group {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
}

    .action-button-group ::deep .bin-delete-button {
        position: static !important;
        top: unset !important;
        right: unset !important;
    }