@page "/kalender"
@using BellaHair.Presentation.WebUI.Components.Pages.Bookings

<h3>Kalender</h3>

<p>Vælg den medarbejder, du vil se kalenderen for.</p>

<Radzen.Blazor.RadzenScheduler @href="scheduler"
								Data="@bookings"
								>

</Radzen.Blazor.RadzenScheduler>

@code {
	List<BookingSimpleViewModel> bookings {get; set; } 

    protected override void OnInitialized()
    {
        // Get the current date to create test data relative to today
        var today = DateTime.Today;


    }
}
