@using BellaHair.Presentation.WebUI.Components.Pages.Treatments
@using BellaHair.Presentation.WebUI.Components.Shared
@using System.Collections.Generic;
@using System.ComponentModel.DataAnnotations;
@using System.Linq;
@using BellaHair.Ports.Employees
@using BellaHair.Ports.Treatments
@inject IEmployeeCommand EmployeeCommand
@inject ITreatmentQuery TreatmentQuery
@inject ISnackbar Snackbar

<h3 style="text-align: center; font-weight: bold">Opret ny medarbejder</h3>
<br />
<p style="text-align: center">Indtast oplysningerne på den medarbejder, du vil oprette.</p>

<EditForm Model="@_newEmployeeModel" OnValidSubmit="@HandleCreateEmployee">
        <DataAnnotationsValidator />

		<div class="inputs-container">
		<div class="inputs-items-container">
			@if (_errorMessage != null)
			{
				<p>@_errorMessage</p>
			}
			<div>
				@* EmployeeInput komponentet indeholder alle inputfelter til medarbejderoplysninger og som tager imod vores NewEmployeeModel
					for at modtage de indtastede inputs *@
			<CreateEmployeeInputs EmployeeModel="_newEmployeeModel"/>
			</div>

		</div>
		<div>
			<CreateEmployeeTreatmentSelector @bind-Value="SelectedTreatmentIds" Treatments="_treatments" />

			Valgt: @SelectedTreatmentIds.Count() behandlinger
		</div>
		</div>

	<div class="d-flex flex-sm-grow-0 gap-md-2 justify-content-end">
		 <button class="btn-add" type="submit">Opret</button>
		<button class="btn-remove" type="reset" @onclick="ClearTreatments" >Ryd felter</button>
	</div>

</EditForm>

@code {
	[Parameter, EditorRequired]
	public required EventCallback OnCreate { get; set; }

	[Parameter]
	public NewEmployeeModel _newEmployeeModel { get; set; } = new NewEmployeeModel();

	private string? _errorMessage = null;

	private List<Guid> SelectedTreatmentIds { get; set; } = new List<Guid>();
	private List<TreatmentViewModel> _treatments { get; set; } = new List<TreatmentViewModel>();

	private void SetValues(List<Guid> selectedIds)
	{
		SelectedTreatmentIds = selectedIds;
	}

	protected override async Task OnInitializedAsync()
	{
		_errorMessage = null;
		_newEmployeeModel = new NewEmployeeModel();
		await LoadTreatments();
	}

	private void ClearTreatments()
	{
		SelectedTreatmentIds.Clear();
		StateHasChanged();
	}

	private async Task HandleCreateEmployee()
	{
		try
		{
			_newEmployeeModel.TreatmentIds = SelectedTreatmentIds;

			if (_newEmployeeModel.MiddleName == string.Empty) _newEmployeeModel.MiddleName = null;

			var command = new CreateEmployeeCommand(
				_newEmployeeModel.FirstName,
				_newEmployeeModel.LastName,
				_newEmployeeModel.Email,
				_newEmployeeModel.PhoneNumber,
				_newEmployeeModel.StreetName,
				_newEmployeeModel.CityName,
				_newEmployeeModel.StreetNumber,
				_newEmployeeModel.ZipCode,
				_newEmployeeModel.TreatmentIds,
				_newEmployeeModel.MiddleName,
				_newEmployeeModel.Floor
			);

            await EmployeeCommand.CreateEmployeeCommand(command);

			await OnCreate.InvokeAsync();

			Snackbar.Add($"Medarbejder oprettet", Severity.Success);
		}

		catch (Exception e)
		{
			Snackbar.Add($"Oprettelsen mislykkedes: {e.Message}", Severity.Error);
		}

	}

	private async Task LoadTreatments()
	{
		try
		{
			var treatments = await TreatmentQuery.GetAllAsync();
			_treatments = treatments
				.OrderBy(t => t.Name)
				.Select(t => new TreatmentViewModel(t.Id, t.Name, t.Price, t.Duration, t.EmployeeCount))
				.ToList();
		}
		catch (Exception ex)
		{
			_errorMessage = $"Der skete en fejl under indlæsning af behandlinger: {ex.Message}";
		}
	}

}
