:root {

}


.btn-add {
    background-color: #990dff;
    border-style: none;
    border-radius: 10px;
    color: white;
    padding: 0.6rem;
}

    .btn-add:hover {
        background-color: #8300da;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        cursor: pointer;
    }

    .btn-add:active {
        transform: translate(1px, 1px);
    }

.btn-select {
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.50);
    border-style:none;
    border-radius:8px;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom:5px;
}

.btn-select:hover{
    background-color:#f7f7f7;
    cursor:pointer;
}

    .btn-select:active {
        background-color: #990dff;

    }


.container {
    font-family: system-ui;
    background-color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.50);
    padding: 20px;
    margin: 20px;
}

.dropdown {

}

p {

}
