	<div class="modal-centered-content">
				<DeleteConfirmationIcon Class="delete-confirmation-icon"/>


				<h4>Slet: @EntityName?</h4>

				<p style="max-width: 22rem; text-align: center;">	Er du sikker på, at du vil slette denne @EntityTypeName?
																	Denne handling kan ikke fortrydes.						</p>

				<div class="remove-confirmation-buttons">
					<button class="btn-remove" onclick="@HandleOnDeleteConfirm">Ja, slet</button>
					<button class="btn-add" onclick="@CloseModal">Annuller</button>
				</div>
			
		</div>

@code{
	[Parameter, EditorRequired]
	public string EntityTypeName { get; set; }

	[Parameter, EditorRequired]
	public string EntityName { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnDeleteConfirm { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnCancel { get; set; }

	private void HandleOnDeleteConfirm()
	{
		OnDeleteConfirm.InvokeAsync();
	}

	private void CloseModal()
	{
		OnCancel.InvokeAsync();
	}
}