
::deep .remove-confirmation-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 200px;
}


.modal-centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

::deep .remove-confirmation-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

::deep .delete-confirmation-icon {
    width: 5rem;
    height: 5rem;
    color: firebrick;
    margin-bottom: 1rem;
}
