<!-- Dennis -->

<div class="ph-container">
<h3 class="ph-header">@HeaderText</h3>
<p class="ph-sub">@HeaderSubText</p>
<button class="btn-add ph-btn" @onclick ="@OnNewButtonClicked">
	<svg class="ph-plus" fill="none" stroke="currentColor" viewBox="0 0 24 24">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.75" d="M12 4v16m8-8H4" />
	</svg>
	@NewButtonText
</button>
</div>

@code {
	[Parameter, EditorRequired]
	public required string HeaderText { get; set; }

	[Parameter, EditorRequired]
	public required string HeaderSubText { get; set; }

	[Parameter, EditorRequired]
	public required string NewButtonText { get; set; }

	[Parameter, EditorRequired]
	public required EventCallback OnNewButtonClicked { get; set; }
}

<style>
	.ph-container {
		position: relative;
		flex: 1;
		margin-left: auto;
		margin-right: auto;
	}

	.ph-btn {
		position: absolute;
		right: 0px;
		top: 5px;
		display: flex;
		align-items: center;
		gap: 0.50rem;
	}

	.ph-plus {
		width: 1rem;
		height: 1rem;
	}

	.ph-header {
		color: oklch(.21 .034 264.665); /* grey-900 */
	}

	.ph-sub {
		color: oklch(.446 .03 256.802); /* grey-600 */
	}
</style>
