@page "/"

<PageTitle>Home</PageTitle>
<body>


<h1>Hello, world!</h1>

Welcome to your new app.


<button class="btn-add">Ny kunde</button>

<div class="container">
	<p>Text</p>
	<p>Text</p>
	<button class="btn-select">James Smith</button>

</div>

<div class="container">
	<p>Text</p>
	<p>Text</p>
</div>

</body>