@page "/"

<PageTitle>Home</PageTitle>
<body style="flex: 1;">


<h1>Hello, world!</h1>


<button class="btn-add">Ny kunde</button>
<button class="btn-remove">Slet</button>

<div class="kk-container">
	<p>Text</p>
	<p>Text</p>
	<button class="btn-select">James Smith</button>

	<div class="kk-container-nested">
		<p>Text</p>
	</div>

</div>

</body>
