@page "/"

<PageTitle>Home</PageTitle>
<body>


<h1>Hello, world!</h1>


<button class="btn-add">Ny kunde</button>

<div class="container">
	<p>Text</p>
	<p>Text</p>
	<button class="btn-select">James Smith</button>

	<div class="container-nested">
		<p>Text</p>
	</div>

</div>

<div class="container">
	<p>Text</p>
	<p>Text</p>
</div>

<div class="container">
	<p>Text</p>
	<p>Text</p>
	<button class="btn-select">James Smith</button>

	<div class="container-nested">
		<p>Text</p>
	</div>

</div>

<div class="container">
	<p>Text</p>
	<p>Text</p>

</div>

<div class="container">
	<p>Text</p>
	<p>Text</p>
	<button class="btn-select">James Smith</button>

	<div class="container-nested">
		<p>Text</p>
	</div>

</div>

<div class="container">
	<p>Text</p>
	<p>Text</p>
</div>

</body>